body{
    background-color: #000;
    margin:0;

    
    
    font-size: 18px;
}

#company_name{
    color: white;
    background-color: #1887cc;
    margin: 0;
    height: 80px;
    font-size: 60px;

}
#quote{
    background-color: #1887cc;
    margin:0;
    color: rgb(255, 255, 6);
    font-size: 23px;
    height:35px

}
#nav{
    
    font-size: 20px;
    font-weight: 500;
    background-color: #000000d2;
    height: 35px;

   display: flex;
   
  
   

}
#nav a{
    color: white;
    text-decoration: none;
    padding: 7px 20px;
    border-radius: 4px;
   

}
#nav a:hover{
     background-color: #183c77;
     color: white;
     border: 1px solid white

    
}

#hero-img{
    
    background-image: url("../assets/image/abg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  
    min-height: 100vh;
}



footer{
    color: white;
    background-color: black;
    height: 210px;


}


footer h3{
    
    text-align: center;
    margin: 0;
    margin-bottom:10px ;
    font-size: 30px ;
}

footer p{
    margin-top:-10px;
    text-align: center;
    font-size:15px;
    margin-bottom: 0px;
}

.data-section{
    display: flex;
    justify-content: space-between;
    margin-top:-10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom:20px;
    
}

.footer-links h4, .social-links h4{
    margin-bottom: 10px;
}

.footer-links, .social-links{
    display: flex;
    flex-direction: column;
    margin:0px 10px
}

.social-links a,.footer-links a{
    color: white;
    padding:2px 0px;
    text-decoration: none ;
    transition-duration: 0.4s;
}

.social-links a:hover,.footer-links a:hover{
    color: blue;
}